Created by David Yakobovitch (davidyakobovitch) and Lisa J Cohen (ljcohen)

Edits and annotations by Sabah Ul-Hasan (sul-hasan)

In [2]:
# Testing Jupyter Notebook (jupyter notebook in commmand line)

# Print output of Hello world of ecology
print('Hello world of ecology!')

Hello world of ecology!

# Create Headers Using the Dropdown Menu

# Variables and Strings

In [5]:
text = "Data Carpentry" # This is an example of a string
number = 42             # This is an example of a variable
pi_value = 3.1415       # This is an example of a variable

In [6]:
print(number)           # This will print your variable
number                  # This will output your variable 

# These are different inputs resulting in the same output

42

42

Comparing your variables

In [8]:
# Add two variables
2+2

4

In [9]:
# Multiply two variables
6*7

42

In [11]:
# Put one variable to the power of another variable
2**16                 # What is 2 to the 16th power?

65536

In [12]:
# Divide two variables and output the remainder only 
13%5                 # (13 divided by 5 = 2 with 3 leftover)

3

In [20]:
# Compare two variables
3>4                 # Is 3 greater than 4?

False

# True / False Statements

In [17]:
# "and' requires both to be true
True and True

True

In [18]:
# What if one is false?
True and False

False

In [19]:
# 'or' allows either one to be true
True or False

True

# Lists, Tuples, and Dictionaries

Lists

In [47]:
# Create a list of numbers (notice the use of brackets)
numbers = [1, 2, 3]

In [48]:
# Verify the list
numbers

[1, 2, 3]

In [49]:
# What is the first number in the list?
numbers[0]

1

In [50]:
# What is the second number in the list?
numbers[1]          # And so on...

2

In [54]:
# Clear your list 
reset_selective numbers #(you must type this out on its own as a new line)

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [55]:
# Verify the list is cleared
numbers

NameError: name 'numbers' is not defined

In [56]:
# What if we want to create a list that simultaneously adds two lists together? 
numbers = [1, 2, 3] + [4, 5, 6]

In [57]:
# Verify the list
numbers

[1, 2, 3, 4, 5, 6]

In [58]:
# Add a number at the end of the list
numbers.append(4)   # Adds the number 4 to the end of the list

In [59]:
# Verify the number has been added to the end of the list
print(numbers)

[1, 2, 3, 4, 5, 6, 4]

Tuples

In [63]:
# A tuple is a list that can't be changed (notice the use of parentheses)
tuple = (1, 2, 3)

In [64]:
# Verify the tuple
tuple

(1, 2, 3)

In [65]:
# Try to change the tuple, what happens?
tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

Dictionaries

In [71]:
# Create a dictionary of numbers (notice the use of ampersand)
translation = {'one': 1, 'two': 2} # Red is the key, green is the value

In [72]:
translation

{'one': 1, 'two': 2}

In [78]:
# How do we call on a value in the dictionary? We use the key.
translation['one']

1

In [68]:
# What happens when we reverse how we define our keys and values?
rev = {1: 'one', 2: 'two'}

In [73]:
rev

{1: 'one', 2: 'two'}

In [74]:
rev[1]

'one'

In [80]:
# How do we add another value to the dictionary?
rev[3] = 'three'

In [81]:
rev

{1: 'one', 2: 'two', 3: 'three'}

# Loops

In [83]:
# We can create a loop to print out all the keys & corresponding values in our dictionary 
for key, value in rev.items():
    print(key, '->', value)

(1, '->', 'one')
(2, '->', 'two')
(3, '->', 'three')

# Functions

In [84]:
# We can create functions to simplify common tasks in a given code
# For example, we can create a code for adding two variables instead of using + each time
def add_function(a, b):
    result = a+b
    return result

In [85]:
Example_1 = add_function(20,22)

In [86]:
print(Example_1)

42

In [87]:
# This will not work because our function allows only two variables to be added
Example_2 = add_function(20,22,30)

TypeError: add_function() takes exactly 2 arguments (3 given)